question_and_answer.password="z76f37WA1OzK"
question_and_answer.url="https://gateway.watsonplatform.net/question-and-answer-beta/api"
question_and_answer.username="cc3da0b2-54a0-4a87-ab20-4bc5dd7139b4"